navbar navbar-light nav-top navbar-expand tansparent nav-fixed nav-bg

.transparent {
    background-color:transparent !important;
}


/* nav */
.nav-top {
    background-color: transparent !important;}
.navbar {
    transition: background-color .5s ease-out;
        /* transition-property: background-color;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
        transition-delay: 0s; */
}
.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start; }
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center; }
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
.nav-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1070;
}
.nav-bg {
    background-color : var(--transparent-dark);
}